{% extends 'base.html' %}
{% load static %}
{% block title %}Создание поста{% endblock title %}

{% block content %}
    <div class="create-block">
        <div class="block-logo">
            <a href="{% url 'home' %}" class="text-logo">Fashion</a>
        </div>
        <div class="main-create">
            <div class="create">
                <div>
                    <h1>Создай свой пост</h1>
                </div>
                <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h3>Добавьте Фото</h3>
                    <div class="add-photo">
                        <input name="main_foto" type="radio" value="1" checked>
                        <input type="file" name="foto_1">
                    </div>
                    <div class="add-photo">
                        <input name="main_foto" type="radio" value="2">
                        <input type="file" name="foto_2">
                    </div>
                    <button type="submit" class="btn-site create-btn">Создать</button>
                </form>
            </div>
            <div class="block-img-create">
                <img src="{% static 'img/create.jpg' %}" alt="..." class="image-create">
            </div>
        </div>
    </div>
{% endblock content %}